.header{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    &__img{
        width: 2rem;
        &:hover{
            cursor: crosshair;
        }
    }
}

